<div class="panel panel-default">
  <div class="panel-title panel-heading subheader-menu-container headingOne">
    <!-- subheader menu here -->
  </div>

  <div class="email-template-container block-padding" style="padding-top:14px; padding-bottom:14px; ">

    <!-- Role -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Role</div>
      </div>
      <div class="col-md-9">
        <span style="line-height:34px"><%= Role %></span>
      </div>
    </div>
    <div class="sep-space"></div>

    <!-- Expiry Date -->
    <div class="form-group row">
      <div class="col-sm-3">
        <div class="form-label text-right">Expiry Date</div>
      </div>
      <div class="col-md-9 container">
        <div class="expiryDatePicker"></div>
        <div class="error-message hidden"></div>
      </div>
    </div>

    <!-- User -->
    <div class="form-group row">
      <div class="col-sm-3">
        <div class="form-label text-right">User</div>
      </div>
      <div class="col-md-9 container">
        <div class="userPicker"></div>
        <div class="error-message hidden"></div>
      </div>
    </div>

    <!-- Department -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Department</div>
      </div>
      <div class="col-md-9 container">
        <div class="departmentContainer"></div>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>


    <!-- Query -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Query</div>
      </div>
      <div class="col-md-9 container">
        <textarea name="Query" field="Query" class="formTextField form-control" rows="6"></textarea>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>


    <div class="buttons-container">
      <div class="available-buttons">
        <button type="button" class="btn btn-primary backBtn">Back</button>
        <button type="button" class="btn btn-primary saveBtn">Save</button>
      </div>
    </div>
    <!-- </div> -->

  </div>
</div>
