<div class="panel panel-default">
  <div class="panel-title panel-heading subheader-menu-container headingOne">
    <!-- subheader menu here -->
  </div>

  <div class="email-template-container block-padding" style="padding-top:14px; padding-bottom:14px; ">

    <!-- Role -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Role</div>
      </div>
      <div class="col-md-9">
        <%= Role %>
      </div>
    </div>
    <div class="sep-space"></div>

    <!-- Department -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right"><%= Type %></div>
      </div>
      <div class="col-md-9"><%= TypeVal %></div>
    </div>
    <div class="sep-space"></div>

    <!-- User -->
    <div class="form-group row">
      <div class="col-sm-3">
        <div class="form-label text-right">Expiry Date</div>
      </div>
      <div class="col-md-9 expiryDatePicker">
      </div>
    </div>


    <div class="buttons-container">
      <div class="available-buttons">
        <button type="button" class="btn btn-primary deleteBtn">Delete</button>
        <button type="button" class="btn btn-primary saveBtn">Save</button>
      </div>
    </div>
    <!-- </div> -->

  </div>
</div>
