<div class="panel panel-default">
  <div class="panel-title panel-heading subheader-menu-container headingOne">
    <!-- subheader menu here -->
  </div>

  <div class="email-template-container">
    <form action="">
      <div class="email-filter-container block-padding">
        <div class="row">
          <div class="col-md-2">Application</div>
          <div class="col-md-10 applicationContainer"></div>
        </div>
        <div class="sep-space"></div>

        <div class="row">
          <div class="col-md-2">Process</div>
          <div class="col-md-10 processContainer"></div>
        </div>
        <div class="sep-space"></div>
      </div>

      <div class="email-content-container block-padding">
        <div class="row">
          <div class="col-md-2">Subject</div>
          <div class="col-md-10">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="sep-space"></div>

        <div class="row">
          <div class="col-md-2">Body</div>
          <div class="col-md-10">
            <textarea class="form-control"></textarea>
          </div>
        </div>
        <div class="sep-space"></div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">

            <span class="checkbox">
              <label>
                <input type="checkbox">
                Enable
              </label>
            </span>
          </div>
        </div>
        <div class="sep-space"></div>

        <div class="button-container">
          <button class="btn btn-primary">save</button>
        </div>
      </div>

    </form>
  </div>
</div>
