<div class="panel panel-default">
  <div class="panel-title panel-heading subheader-menu-container headingOne">
    <!-- subheader menu here -->
  </div>

  <div class="email-template-container block-padding" style="padding-top:14px; padding-bottom:14px; ">

    <!-- <div class="email-filter-container"> -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Process</div>
      </div>
      <div class="col-md-9 container">
        <div class="processContainer"></div>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Activity Group</div>
      </div>
      <div class="col-md-9 container">
        <div class="stepContainer">
          <select class="form-control" field="StepId" name="StepId">
            <option value="">Please select the process first</option>
          </select>
        </div>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>
    <!-- </div> -->

    <!-- <div class="email-content-container"> -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Subject</div>
      </div>
      <div class="col-md-9 container">
        <div class="">
          <textarea class="form-control formTextField" rows="6" name="Subject" field="Subject"><%= Subject %></textarea>
        </div>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Body</div>
      </div>
      <div class="col-md-9 container">
        <div class="">
          <textarea class="form-control formTextField" name="Body" field="Body" rows="6"><%= Body %></textarea>
        </div>

        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">

        <span class="checkbox">
          <label>
            <input type="checkbox" class="formCheckboxField" name="Enabled" <% if (Enabled) { %>checked<% } %> >
            Enable
          </label>
        </span>
      </div>
    </div>
    <div class="sep-space"></div>

    <div class="buttons-container">
      <div class="available-buttons">
        <% if (showDelete) { %>
        <button type="button" class="btn btn-primary deleteBtn">Delete</button>
        <% } // endif %>
        <button type="button" class="btn btn-primary saveBtn">Save</button>
      </div>
    </div>
    <!-- </div> -->

  </div>
</div>
