<div class="panel panel-default">
  <div class="panel-heading headingOne" role="tab">
    <div class="panel-title subheader-menu-container">
      <!-- Single button -->
    </div>
    <!-- <span class="advanced-btn-wrapper">
      <span class="glyphicon glyphicon-menu-down toggle-btn openBtn"></span>
      <span class="glyphicon glyphicon-menu-up toggle-btn closeBtn"></span>

      <span class="advanced-btn">
        <span class="isShow">Show</span>
        <span class="isHide">Hide</span>
        Advanced Search
      </span>
    </span> -->

  </div>


  <div id="checkStatus">
    <div class="panel-body">

      <form class="form-horizontal">

        <div class="form-group buttons-container">
          <div class="text-center available-buttons">
            <input type="button" class="btn btn-primary deleteBtn" value="Delete" id="btnDeleteRolePermission">
            <input type="button" class="btn btn-primary createBtn" value="New" id="btnCreateRolePermission">
          </div>
        </div>

      </form>
    </div>
  </div>

</div>


<div class="table-responsive">
  <table id="rolePermissionTable" class="table table-striped table-bordered table-grey" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Process</th>
        <th>Permission</th>
        <th>User Role</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Process</th>
        <th>Permission</th>
        <th>User Role</th>
      </tr>
    </tfoot>
    <tbody>

    </tbody>
  </table>
</div>
