  <div class="form-label" style="text-align: left; padding-left: 20px">
    Additional Criteria for applicant's grade:
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div>
        <label>
          <input type="checkbox" name="">
          Applicant grade is lower than that of approver
        </label>
      </div>
    </div>
  </div>
