<div class="col-md-4 gradeFromContainer"></div>
<div class="col-md-2 text-center" style="padding:0"><span class="form-label">To</span></div>
<div class="col-md-4 gradeToContainer"></div>
<div class="col-md-2 text-right" style="padding-left:0"><span class="form-label">User</span></div>
