<div class="pickerList"></div>
<div class="full-width userContainer form_input">
  <input type="text" class="fullUserPicker form-control" data-provide="typeahead" autocomplete="off" field="<%= field %>"/>
</div>
