<div class="panel panel-default">
  <div class="panel-title panel-heading subheader-menu-container headingOne">
    <!-- subheader menu here -->
  </div>

  <div class="email-template-container block-padding" style="padding-top:14px; padding-bottom:14px; ">

    <div class="form-group row">
      <div class="col-md-2">
        <div class="form-label text-right">Process</div>
      </div>
      <div class="col-md-10 container">
        <!-- status Select list here -->
        <div class="processContainer"></div>
        <div class="error-message hidden"></div>
      </div>
    </div>

    <!-- <div class="email-filter-container"> -->
    <div class="row">
      <div class="col-md-2">
        <div class="form-label text-right">Role</div>
      </div>
      <div class="col-md-10 container">
        <div>
          <input type="text" class="form-control formTextField" field="Role" name="Role" value="<%= Role %>">
        </div>
        <div class="error-message hidden"></div>

      </div>
    </div>
    <div class="sep-space"></div>


    <div class="row">
      <div class="col-md-2">
        <div class="form-label text-right">Description</div>
      </div>
      <div class="col-md-10 container">
        <div>
          <textarea field="Desc" name="Desc" class="form-control formTextField" rows="8" cols="80"><%= Desc %></textarea>
        </div>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>

    <div class="buttons-container">
      <div class="available-buttons">
        <button type="button" class="btn btn-primary saveBtn">Save</button>

        <% if (showDelete) { %>
          <button type="button" class="btn btn-primary delBtn">Delete</button>
          <% } // endif %>
      </div>
    </div>
    <div class="sep-space"></div>

    <% if (showMember) { %>
    <div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-label text-right">Members</div>
        </div>
        <div class="col-md-10"></div>

      </div>
      <div class="">

        <div class="table-responsive">
          <table id="memberTable" class="table table-striped table-bordered table-grey" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th><input type="checkbox" class="checkAll"></th>
                <th>Object Type</th>
                <th>Name</th>
                <th>Expiry Date</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Object Type</th>
                <th>Name</th>
                <th>Expiry Date</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="sep-space"></div>

    <div class="">
      <button class="btn btn-orange addMemeberBtn">
        <i class="glyphicon glyphicon-plus"></i>
        add
      </button>
      <button class="btn btn-orange removeMemeberBtn">
        <i class="glyphicon glyphicon-minus"></i>
        remove
      </button>
    </div>
    <div class="sep-space"></div>
    <% } %>


  </div>
</div>
