<div class="panel panel-default">
  <div class="panel-heading headingOne" role="tab">
    <div class="panel-title subheader-menu-container">
      <!-- Single button -->
    </div>
    <!-- <span class="advanced-btn-wrapper">
      <span class="glyphicon glyphicon-menu-down toggle-btn openBtn"></span>
      <span class="glyphicon glyphicon-menu-up toggle-btn closeBtn"></span>

      <span class="advanced-btn">
        <span class="isShow">Show</span>
        <span class="isHide">Hide</span>
        Advanced Search
      </span>
    </span> -->

  </div>


  <div id="checkStatus">
    <div class="panel-body">

      <form class="form-horizontal">

        <div class="row">
          <div class="col-md-2">
            <div class="form-label text-right">Process</div>
          </div>
          <div class="col-md-6 processContainer"></div>
        </div>
        <div class="sep-space"></div>

        <div class="form-group buttons-container">
          <div class="text-center available-buttons">
            <input type="button" class="btn btn-primary searchBtn" value="Search">
            <input type="button" class="btn btn-primary createBtn" value="New">
          </div>
        </div>

      </form>
    </div>
  </div>

</div>


<div class="table-responsive">
  <table id="userRoleTable" class="table table-striped table-bordered table-grey" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Role</th>
        <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Role</th>
        <th>Description</th>
      </tr>
    </tfoot>
    <tbody>

    </tbody>
  </table>
</div>
