.red{
  color: red;
}
label.control-label {
  color: #006bf0;
  font-weight: lighter;
  text-align: left;
  float: left;
}

.buttons-container {
  .btn {
    margin-bottom: 4px;
  }

  .available-buttons {
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 4px;
    padding: 11px 5px;
    text-align: center;
  }
}

.form-label{
  color: #006bf0;
  line-height: 2.5em;
}

.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from {
        -webkit-transform: rotate( 0deg );
    }
 to  {
        -webkit-transform: rotate( 360deg );
    }
}

.sep-space {
  height: 15px;
}

.sep-space-sm {
  height: 8px;
  clear:both;
}

.sep-space-db-border {
  height: 4px;
  clear:both;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
}

.block-padding{
  padding-left: 14px;
  padding-right: 14px;
}

.btn-orange {
  color: white;
  background-color: #f57921;
  border-color: #f57921;
}

.panel-title {
  line-height: 40px;
}

.panel-active {
  box-shadow: 0 0 10px #f57921;
}

.panel-highlight {
  background: #fffeb3;
}

.datepicker-toggle-btn{
  cursor: pointer;
}
